<h1>
  <%= @artist.first_name %> <%= @artist.last_name %> (<%= @artist.type %>)
</h1>

<hr>

<%= @artist.first_name %> <%=@artist.last_name %> was born on <%= @artist.birthday.strftime('%d %b %Y') %> in
<%= @artist.country %>.