<%= form_for @movie, url: movies_path do |m| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation" class="error">
      <h2>
        <%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:
      </h2>
      <ul>
        <% @movie.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <br>
  <% end %>
  <table class="table">
    <tbody>
      <tr>
        <td><%= m.label :title %></td>
        <td>
          <%= m.text_field :title %>
        </td>
      </tr>
      <tr>
        <td><%= m.label :year %></td>
        <td>
          <%= m.number_field :year %>
        </td>
      </tr>
      <tr>
        <td><%= m.label :director %></td>
        <td>
          <%= m.collection_select :director_id, Director.all, :id, :full_name, {:prompt => 'Please select a director'} %>
        </td>
      </tr>
    </tbody>
  </table>
  <hr>
  <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
    <i class="fa fa-save"></i> Save Movie
  <% end %>
  or
  <%= link_to '<i class="fa fa-arrow-left"></i> Back to the List of Movies'.html_safe, movies_path %>
<% end %>