<%= form_for @movie, url: movies_path do |m| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation" class="error">
      <h2>
        <%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:
      </h2>
      <ul>
        <% @movie.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <br>
  <% end %>
  <table class="table">
    <thead>
      <tr>
        <th><%= m.label :title %></th>
        <th><%= m.label :year %></th>
        <th><%= m.label :director %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= m.text_field :title %>
        </td>
        <td>
          <%= m.number_field :year %>
        </td>
        <td>
          <%= m.collection_select :director_id, Director.all, :id, :full_name, {:prompt => 'Please select a director'} %>
        </td>
      </tr>
    </tbody>
  </table>
  <hr>
  <%= m.submit %>
<% end %>