<div class="row">
  <div class="col-xs-6">
    <h1>
      <i class="fa fa-film"></i> Known Movies
    </h1>
  </div>
  <div class="col-xs-6">
    <h1 class="pull-right">
      <%= link_to '<i class="fa fa-magic"></i> Add a New Movie'.html_safe, new_movie_path, class: 'btn btn-primary' %>
    </h1>
  </div>
</div>

<hr>

<table class="table table-bordered table-hover table-responsive table-condensed">
  <thead>
    <tr>
      <th>
        Title
      </th>
      <th>
        Year
      </th>
      <th colspan="2" class="text-center">
        Actions
      </th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |m| %>
      <tr>
        <td>
          <%= link_to m.title, movie_path(m) %>
        </td>
        <td>
          <%= m.year %>
        </td>
        <td class="text-center warning">
          <i class="fa fa-edit"></i> <%= link_to 'Edit', edit_movie_path(m) %>
        </td>
        <td class="text-center danger">
          <i class="fa fa-trash-o"></i> <%= link_to 'Delete', movie_path(m), method: :delete, data: {confirm: 'Are you sure?'} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>